
html, body {font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; 
		height:100%;
		width:100%;
		margin:0;
		padding:0;
		line-height:normal !important;
		-webkit-animation: fadein 1s forwards;  
        -ms-animation: fadein 1s forwards;
        animation: fadein 1s forwards;
		}
	@keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}	
/* Firefox < 16 */
	@-moz-keyframes fadein {
   	 	from { opacity: 0; }
   	 	to   { opacity: 1; }
	}
	@-webkit-keyframes fadein {
  	  	from { opacity: 0; }
   	 	to   { opacity: 1; }
	}
	@-ms-keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}
	@-o-keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}
div.overlay{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-color:rgba(255,255,255,0.2);
}
div.cover{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-image: url("vegetation_background.jpg");
	background-size: 100% auto;
}
@media (min-width:1500px){
	.background{
		position: absolute;
		height:800px;
		width: 900px;
		top:50%;
		left:50%;
		margin-left: -400px;
		margin-top: -400px;
		}
	.pie{
		position: absolute;
		margin-left: -300px;
		margin-top: -300px;
		padding: 0;
		width: 600px; 
		height: 600px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:23px;
		font-weight:bold;
		position:absolute;
		top:152px;
		width: 150px;
		right: 67%;
		text-decoration: none;
	}
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#254133;
		margin: -107px 0px 0px -107px;
		height:200px;
		width:200px;
		border-radius: 50%;
		border: solid white 10px;
		box-sizing:content-box;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:18%;
		font-size:28px;
	}
	a#link{
		position:absolute;
		padding:0px;
		font-size:40px;
		background:rgba(255,255,255,0.0);
		color:white;
		text-decoration:none;
		border-radius:10%;
		top:70%;
		left:80px;
		border:2px solid rgba(0,0,0,0.0);
		}
	a#history{
		 top:153px; 
		 right:68%; 
	}
	a#transport{
		 top:158px; 
		 right:65%; 
	}
	a#industry{
		  top:153px; 
		  right:68%;
	}
}
@media (min-width:1000px) and (max-width:1499px){
	.background{
		position: absolute;
		height:650px;
		width: 750px;
		top:50%;
		left:50%;
		margin-left: -350px;
		margin-top: -325px;
		}
	.pie{
		position: absolute;
		margin-left: -250px;
		margin-top: -250px;
		padding: 0;
		width: 500px; 
		height: 500px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:19px;
		font-weight:bold;
		position:absolute;
		top:126px;
		width: 100px;
		right: 70%;
		text-decoration: none;
	}
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#254133;
		margin: -107px 0px 0px -107px;
		height:200px;
		width:200px;
		border-radius: 50%;
		border: solid white 10px;
		box-sizing:content-box;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:18%;
		font-size:26px;
	}
	a#link{
		position:absolute;
		padding:0px;
		font-size:36px;
		background:rgba(255,255,255,0.0);
		color:white;
		text-decoration:none;
		border-radius:10%;
		top:70%;
		left:80px;
		border:2px solid rgba(0,0,0,0.0);
		}
	a#history{
		 top:131px; 
		 right:69%; 
	}
	a#transport{
		 top:135px; 
		 right:68%; 
		 font-size:17px;
	}
	a#industry{
		 font-size:18px;
		  top:123px; 
		  right:72%;
	}
}
@media (min-width:500px) and (max-width:999px){
	.background{
		position: absolute;
		height: 600px;
		width: 700px;
		top:50%;
		left:50%;
		margin-left: -300px;
		margin-top: -300px;
		}
	.pie{
		position: absolute;
		margin-left: -225px;
		margin-top: -225px;
		padding: 0;
		width: 450px; 
		height: 450px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:16px;
		font-weight:bold;
		position:absolute;
		top:115px;
		width: 90px;
		right: 70%;
		text-decoration: none;
	}
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#254133;
		margin: -80px 0px 0px -80px;
		height:150px;
		width:150px;
		border-radius: 50%;
		border: solid white 10px;
		box-sizing:content-box;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:18%;
		font-size:22px;
	}
	a#link{
		position:absolute;
		padding:0px;
		font-size:30px;
		background:rgba(255,255,255,0.0);
		color:white;
		text-decoration:none;
		border-radius:10%;
		top:71%;
		left:58px;
		border:2px solid rgba(0,0,0,0.0);
		}
	a#transport{
		 top:123px; 
		 right:67%; 
		 font-size:16px;
	}
}
.slice {
	overflow: hidden; 
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
}
.slice#one{
	transform: rotate(0deg) skewY(-67.5deg);
}
.slice#two{
	transform: rotate(22.5deg) skewY(-67.5deg);
}
.slice#three{
	transform: rotate(45deg) skewY(-67.5deg);
}
.slice#four{
	transform: rotate(67.5deg) skewY(-67.5deg);
}
.slice#five{
	transform: rotate(90deg) skewY(-67.5deg);
}
.slice#six{
	transform: rotate(112.5deg) skewY(-67.5deg);
}
.slice#seven{
	transform: rotate(135deg) skewY(-67.5deg);
}
.slice#eight{
	transform: rotate(157.5deg) skewY(-67.5deg);
}
.slice#nine{
	transform: rotate(180deg) skewY(-67.5deg);
}
.slice#ten{
	transform: rotate(202.5deg) skewY(-67.5deg);
}
.slice#eleven{
	transform: rotate(225deg) skewY(-67.5deg);
}
.slice#twelve{
	transform: rotate(247.5deg) skewY(-67.5deg);
}
.slice#thirteen{
	transform: rotate(270deg) skewY(-67.5deg);
}
.slice#fourteen{
	transform: rotate(292.5deg) skewY(-67.5deg);
}
.slice#fifteen{
	transform: rotate(315deg) skewY(-67.5deg);
}
.slice#sixteen{
	transform: rotate(337.5deg) skewY(-67.5deg);
}
.slice-contents {
	transform: skewY(67.5deg) rotate(67.5deg); 
}
/*
.slice-contents#slice1, .slice-contents#slice4, .slice-contents#slice7, .slice-contents#slice10{
	background: rgba(77, 121, 255,1);
}  

.slice-contents#slice1:hover, .slice-contents#slice4:hover, .slice-contents#slice7:hover, .slice-contents#slice10:hover{
	background: rgba(0, 45, 179,1);
	cursor:pointer;
}  
.slice-contents#slice2, .slice-contents#slice5, .slice-contents#slice8, .slice-contents#slice11{
	background: rgba(163, 163, 117,1);
}  

.slice-contents#slice2:hover, .slice-contents#slice5:hover, .slice-contents#slice8:hover, .slice-contents#slice11:hover{
	background: rgba(107, 107, 71,1);
	cursor:pointer;
}  
.slice-contents#slice3, .slice-contents#slice6, .slice-contents#slice9, .slice-contents#slice12{
	background: rgba(92,163,130,1);
}  

.slice-contents#slice3:hover, .slice-contents#slice6:hover, .slice-contents#slice9:hover, .slice-contents#slice12:hover{
	background: rgba(56, 97, 77,1);
	cursor:pointer;
}  
*/
 .slice-contents#slice1, .slice-contents#slice3, .slice-contents#slice5, .slice-contents#slice9, .slice-contents#slice11, .slice-contents#slice13, .slice-contents#slice15{
	background: rgba(191, 191, 191,1);
}  
 .slice-contents#slice1, .slice-contents#slice3:hover, .slice-contents#slice5:hover,  .slice-contents#slice9:hover, .slice-contents#slice11:hover, .slice-contents#slice13:hover, .slice-contents#slice15:hover{
	background: rgba(191, 191, 191,1);
	cursor:default;
}  
.slice-contents#slice2, .slice-contents#slice4, .slice-contents#slice8, .slice-contents#slice10, .slice-contents#slice12, .slice-contents#slice14, .slice-contents#slice16{
	background: rgba(191, 191, 191,1);
}  
.slice-contents#slice2, .slice-contents#slice4:hover, .slice-contents#slice8:hover, .slice-contents#slice10:hover, .slice-contents#slice12:hover, .slice-contents#slice14:hover, .slice-contents#slice16:hover{
	background: rgba(191, 191, 191,1);
	cursor:default;
}  

.slice-contents#slice7{
	background: rgba(92,163,130,1);
}  
.slice-contents#slice7:hover{
	background: rgba(56, 97, 77,1);
	cursor:pointer;
}  
.slice-contents#slice6{
	background: rgba(141, 191, 167,1);
}  
.slice-contents#slice6:hover{
	background: rgba(64, 114, 90,1);
	cursor:pointer;
}  

.slice-contents {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	text-align: center;
	transition: background-color .5s;
}

a#chapter1{
	transform:rotate(180deg);
}
.leaflet-container {
    background: #fff;
}
a#link:hover{
		background:rgba(255,255,255,0.0);
		color:rgba(141, 191, 167,.7);
		transition: color .5s;
		cursor:pointer;
	}
a#title:hover{
	text-decoration:none;
	cursor:default;
}
