

html, body {font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; 
		height:100%;
		width:100%;
		margin:0;
		padding:0;
		-webkit-animation: fadein 1s forwards;  
        -ms-animation: fadein 1s forwards;
        animation: fadein 1s forwards;
		}
	@keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}	
/* Firefox < 16 */
	@-moz-keyframes fadein {
   	 	from { opacity: 0; }
   	 	to   { opacity: 1; }
	}
	@-webkit-keyframes fadein {
  	  	from { opacity: 0; }
   	 	to   { opacity: 1; }
	}
	@-ms-keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}
	@-o-keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}
div.cover{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-image: url("background.jpg");
	background-size: 100% auto;
}
@media (min-width:1500px){
	.background{
		position: absolute;
		height:800px;
		width: 900px;
		top:50%;
		left:50%;
		margin-left: -400px;
		margin-top: -400px;
		}
	.pie{
		position: absolute;
		margin-left: -300px;
		margin-top: -300px;
		padding: 0;
		width: 600px; 
		height: 600px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:24px;
		font-weight:bold;
		position:absolute;
		top:60px;
		width: 100px;
		right: 41%;
		text-decoration: none;
	}
	a.text{
		display:block;
		margin-top:60px;
		margin-left:225px;
		margin-right:50px;
		width:150px;
		color:white;
		text-align:center;
		opacity:0;
		text-decoration:none;
	}
	a#park{
		transform:rotate(180deg); 
		width:150px; 
		margin-left:225px; 
		margin-top:45px; 
		height:100px;
	}
	a#hunt{
		transform:rotate(-90deg); 
		width:150px; 
		margin-left:230px; 
		margin-top:65px;
	}
	a#fish{
		transform:rotate(0deg); 
		width:120px; 
		margin-left:240px;
		margin-top:55px;
	}
	a#act{
		transform:rotate(90deg); 
		width:150px; 
		margin-left:215px; 
		margin-top:45px; 
		height:100px;
	}
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#254133;
		margin: -107px 0px 0px -107px;
		height:200px;
		width:200px;
		border-radius: 50%;
		border: solid white 10px;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:22%;
		font-size:30px;
	}
	img#tree{
		width:40px; 
		height:60px; 
		display:block; 
		margin-left:78px; 
		margin-top:50px;
	}
	a.chapter2 {
		color:white;
		font-size:24px;
		font-weight:bold;
		position:absolute;
		top:60px;
		width: 100px;
		right: 41%;
		text-decoration: none;
	}
	a#home{
		color:white;
		font-size:40px;
		position:relative;
		transition: color .5s;
		margin-top:28%;
		left:40%;
	} 
}
@media (min-width:1000px) and (max-width:1499px){
	.background{
		position: absolute;
		height:650px;
		width: 750px;
		top:50%;
		left:50%;
		margin-left: -350px;
		margin-top: -325px;
		}
	.pie{
		position: absolute;
		margin-left: -250px;
		margin-top: -250px;
		padding: 0;
		width: 500px; 
		height: 500px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:20px;
		font-weight:bold;
		position:absolute;
		top:60px;
		width: 100px;
		right: 41%;
		text-decoration: none;
	}
	a.text{
		display:block;
		margin-top:30px;
		margin-left:200px;
		margin-right:50px;
		width:100px;
		color:white;
		text-align:center;
		opacity:0;
		text-decoration:none;
		font-size:14px;
	}
	a#park{
		transform:rotate(180deg); 
		width:120px; 
		margin-left:190px; 
		margin-top:25px; 
		height:100px;
	}
	a#hunt{
		transform:rotate(-90deg); 
		width:120px; 
		margin-left:195px; 
		margin-top:45px;
	}
	a#fish{
		transform:rotate(0deg); 
		width:120px; 
		margin-left:185px;
		margin-top:45px;
	}
	a#act{
		transform:rotate(90deg); 
		width:120px; 
		margin-left:175px; 
		margin-top:25px; 
		height:100px;
	}
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#254133;
		margin: -107px 0px 0px -107px;
		height:200px;
		width:200px;
		border-radius: 50%;
		border: solid white 10px;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:22%;
		font-size:30px;
	}
	img#tree{
		width:40px; 
		height:60px; 
		display:block; 
		margin-left:78px; 
		margin-top:50px;
	}
	a.chapter2 {
		color:white;
		font-size:24px;
		font-weight:bold;
		position:absolute;
		top:60px;
		width: 100px;
		right: 41%;
		text-decoration: none;
	}
	a#home{
		color:white;
		font-size:40px;
		position:relative;
		transition: color .5s;
		margin-top:28%;
		left:40%;
		display:block;
	} 
}
@media (min-width:500px) and (max-width:999px){
	.background{
		position: absolute;
		height: 600px;
		width: 700px;
		top:50%;
		left:50%;
		margin-left: -300px;
		margin-top: -300px;
		}
	.pie{
		position: absolute;
		margin-left: -225px;
		margin-top: -225px;
		padding: 0;
		width: 450px; 
		height: 450px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:20px;
		font-weight:bold;
		position:absolute;
		top:54px;
		width: 100px;
		right: 39%;
		text-decoration: none;
	}
	a.text{
		display:block;
		margin-top:30px;
		margin-left:175px;
		margin-right:50px;
		width:100px;
		color:white;
		text-align:center;
		opacity:0;
		text-decoration:none;
		font-size:14px;
	}
	a#park{
		transform:rotate(180deg); 
		width:100px; 
		margin-left:175px; 
		margin-top:20px; 
		height:100px;
		font-size:13px;
	}
	a#hunt{
		transform:rotate(-90deg); 
		width:120px; 
		margin-left:165px; 
		margin-top:44px;
	}
	a#fish{
		transform:rotate(0deg); 
		width:120px; 
		margin-left:165px;
		margin-top:40px;
	}
	a#act{
		transform:rotate(90deg); 
		width:120px; 
		margin-left:150px; 
		margin-top:25px; 
		height:100px;
	}
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#254133;
		margin: -80px 0px 0px -80px;
		height:150px;
		width:150px;
		border-radius: 50%;
		border: solid white 10px;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:22%;
		font-size:24px;
	}
	img#tree{
		width:30px; 
		height:45px; 
		display:block; 
		margin-left:57px; 
		margin-top:38px;
	}
	a.chapter2 {
		color:white;
		font-size:24px;
		font-weight:bold;
		position:absolute;
		top:54px;
		width: 100px;
		right: 39%;
		text-decoration: none;
	}
	a#home{
		color:white;
		font-size:32px;
		position:relative;
		transition: color .5s;
		margin-top:28%;
		left:38%;
	} 
}
.slice {
	overflow: hidden; 
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
}
.slice#one{
	transform: rotate(0deg) skewY(-30deg);
}
.slice#two{
	transform: rotate(60deg) skewY(-30deg);
}
.slice#three{
	transform: rotate(120deg) skewY(-30deg);
}
.slice#four{
	transform: rotate(180deg) skewY(-30deg);
}
.slice#five{
	transform: rotate(240deg) skewY(-30deg);
}
.slice#six{
	transform: rotate(300deg) skewY(-30deg);
}
.slice-contents {
	transform: skewY(30deg) rotate(30deg); 
}

.slice-contents#slice1, .slice-contents#slice3, .slice-contents#slice5 {
	background: rgba(92,163,130,1);
}  

.slice-contents#slice1:hover, .slice-contents#slice3:hover, .slice-contents#slice5:hover {
	background: rgba(56, 97, 77,1);
	cursor:pointer;
}  

.slice-contents#slice2, .slice-contents#slice4, .slice-contents#slice6 {
	background: rgba(141, 191, 167,1);
}  

.slice-contents#slice2:hover, .slice-contents#slice4:hover, .slice-contents#slice6:hover {
	background: rgba(64, 114, 90,1);
	cursor:pointer;
}  

.slice-contents {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	text-align: center;
	transition: background-color .5s;
}

a#chapter1{
	transform:rotate(180deg);
}
.slice-contents:hover a.text{
	opacity:1;
}
.slice-contents:hover a.chapter{
	opacity:0;
}

.leaflet-container {
    background: #fff;
}
#arrow:hover{
	color:white;
	cursor:pointer;
}

#home:hover{
	color:black;
}