html, body{
   height: 100%;
   margin:0;
   background:black;
}
#infoPanel {
	width:300px;
	height:100%;
	background-color: rgba(255,255,255,1);
	position: absolute;
	z-index:1000; 
	padding-left:20px;
	padding-right:20px
	padding-top:20px;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	}

div#infoPanel b {
	width: 35px;
    height: 20px;
    line-height:25px;
	display:inline-block;
	position: absolute;
	opacity:0.8;
}

div#infoPanel p {
	display:inline-block;
	line-height:20px;
	font-size:16px;
	position: absolute;
	padding-left: 40px;
	margin:0;
	white-space:nowrap;
	}
	
div#infoPanel p2 {
	display:inline-block;
	line-height:25px;
	height: 25px;
	margin:0;
	white-space:nowrap;
	}
	
div#infoPanel img#image {
	width: 280px;
	height: 20px;
	padding-right:20px;
	position:relative;
	bottom:15px;
	float:center;
	}
div#infoPanel img#image2  {
	width: 225px;
	height: 80px;
	position:relative;
	float:center;
	margin: 15px 0px 10px 25px;
	}
div#infoPanel h1 {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size:30px;
	padding-left: 20px;
}

div#infoPanel h2{
	font-size:18px;
	line-height: 25px;
}
div#infoPanel sup{
	font-size:12px;
	cursor:pointer;
}
div#text p3 {
	text-align: justify;
	}
#text {
	overflow:hidden;
	text-align: justify;
	position: relative;
	height:100%;	
	}
#attribution{
	margin-right:20px;
	width:280px;
	}

.leaflet-container {
		background-color: #000000;
}
div#buttons p {
	color:#e6e6e6; 
	float:right; 
	display:inline; 
	padding:0; 
	width:auto; 
	font-size:18px; 
	padding-top:3px;
	position:relative;
}

div#buttons .species {
	width:135px;
	height:30px;
	background: rgba(242,242,242,0.2);
	border-style: solid;
    border-color: rgba(255,255,255,0);
    margin-bottom:2px;
    margin-left:2px;
   font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size:14px;
}
div#buttons .species:hover{
	width:135px;
	background: rgba(242, 242, 242, 1) !important;
	cursor:pointer;

}
div.info.leaflet-control {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	font-size:16px;
	box-shadow: 2px 2px 3px #888888;
}
.label{
	opacity:0;
	background-color:rgba(255,255,255,0);
	
}
.dropbtn {
    background: #fff;
	border-radius:.125em;
	box-shadow: 0 0 4px #999;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 280px;
    border-style: solid;
    border-color: rgba(0,0,0,1);
    border-width:2px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-align:left;
    padding:3px;
    color:#4d4d4d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
   background: #ffffff;
    width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
     background: rgba(242, 242, 242, 0.67);
     -webkit-box-shadow: 0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	-moz-box-shadow:    0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	box-shadow:         0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	cursor:pointer;
}
div#pageChange{
	height:40px;
	width:300px;
	margin-left:20px;
	margin-right:20px;
	position:absolute;
	bottom:0;
	left:0;
}
a#arrow{
	color:black;
	font-size:28px;
	position:relative;
} 
#arrow:hover{
	color:white;
}
.label_tooltip {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size:14px;
	padding:5px;
	margin:0px;
	border:0px;
	z-index:700;
}

div#infoPanel b.circle {
    line-height:25px;
	display:inline-block;
	position: relative;
	opacity:0.8;
	border-radius:50%;
	vertical-align:middle;
	width:20px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 1px #595959;
    color: #000;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: black 2px solid;
 	width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    font-weight:none;
    font-size:12px;
    /* Position the tooltip text - see examples below! */

}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#size{
	display:inline;
	position:absolute;
	width:35px;
	}
#sizeLabel{
	width:100px;
	display:inline;
	}
#damLegendSide{
	width:140px;
	display:inline;
	position:relative;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top:10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
  float:center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

