html, body {font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; 
		height:100%;
		width:100%;
		margin:0;
		padding:0;
		-webkit-animation: fadein 1s forwards;  
        -ms-animation: fadein 1s forwards;
        animation: fadein 1s forwards;
		}
	@keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}	
/* Firefox < 16 */
	@-moz-keyframes fadein {
   	 	from { opacity: 0; }
   	 	to   { opacity: 1; }
	}
	@-webkit-keyframes fadein {
  	  	from { opacity: 0; }
   	 	to   { opacity: 1; }
	}
	@-ms-keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}
	@-o-keyframes fadein {
    	from { opacity: 0; }
    	to   { opacity: 1; }
	}
div.cover{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-image: url("background_water.jpg");
	background-size: 100% auto;
}
@media (min-width:1500px){
	.background{
		position: absolute;
		height:800px;
		width: 900px;
		top:50%;
		left:50%;
		margin-left: -400px;
		margin-top: -400px;
		}
	.pie{
		position: absolute;
		margin-left: -300px;
		margin-top: -300px;
		padding: 0;
		width: 600px; 
		height: 600px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:24px;
		font-weight:bold;
		position:absolute;
		top:76px;
		width: 100px;
		right: 31%;
		text-decoration: none;
	}
	a#arrow{
		color:white;
		font-size:36px;
		position:relative;
		transition: color .5s;
		margin-top:28%;
		left:41%;
	} 
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#2a3c3c;
		margin: -107px 0px 0px -107px;
		height:200px;
		width:200px;
		border-radius: 50%;
		border: solid white 10px;
		box-sizing:content-box;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:22%;
		font-size:36px;
	}
	a.text{
		display:block;
		margin-top:79px;
		margin-left:288px;
		width:150px;
		color:white;
		text-align:center;
		opacity:0;
		text-decoration:none;
	}
	a#watershed{
		 top:93px; 
		 right: 32%;
	}
	a#groundwater{
		 top:70px; 
		 right: 32%;
	}
	
}
@media (min-width:1000px) and (max-width:1499px){
	.background{
		position: absolute;
		height:650px;
		width: 750px;
		top:50%;
		left:50%;
		margin-left: -350px;
		margin-top: -325px;
		}
	.pie{
		position: absolute;
		margin-left: -250px;
		margin-top: -250px;
		padding: 0;
		width: 500px; 
		height: 500px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:20px;
		font-weight:bold;
		position:absolute;
		top:59px;
		width: 100px;
		right: 29%;
		text-decoration: none;
	}
	a#arrow{
		color:white;
		font-size:32px;
		position:relative;
		transition: color .5s;
		margin-top:28%;
		left:42%;
	} 
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#2a3c3c;
		margin: -107px 0px 0px -107px;
		height:200px;
		width:200px;
		border-radius: 50%;
		border: solid white 10px;
		box-sizing:content-box;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:22%;
		font-size:36px;
	}
	a.text{
		display:block;
		margin-top:44px;
		margin-left:254px;
		margin-right:50px;
		width:100px;
		color:white;
		text-align:center;
		opacity:0;
		text-decoration:none;
		font-size:14px;
	}
	a#watershed{
		 top:75px; 
		 right: 27%;
	}
	a#groundwater{
		 top:47px; 
		 right: 31%;
	}
	a#gw_text.text{
		 margin-top:60px; 
	}

}
@media (min-width:500px) and (max-width:999px){
	.background{
		position: absolute;
		height: 600px;
		width: 700px;
		top:50%;
		left:50%;
		margin-left: -300px;
		margin-top: -300px;
		}
	.pie{
		position: absolute;
		margin-left: -225px;
		margin-top: -225px;
		padding: 0;
		width: 450px; 
		height: 450px;
		border-radius: 50%;
		list-style: none;
		top:50%;
		left:50%;
		overflow: hidden; 
	}
	a.chapter {
		color:white;
		font-size:20px;
		font-weight:bold;
		position:absolute;
		top:54px;
		width: 100px;
		right: 28%;
		text-decoration: none;
	}
	a#arrow{
		color:white;
		font-size:28px;
		position:relative;
		transition: color .5s;
		margin-top:28%;
		left:42%;
	} 
	.circle{
		position:relative;
		top:50%;
		left:50%;
		background:#2a3c3c;
		margin: -80px 0px 0px -80px;
		height:150px;
		width:150px;
		border-radius: 50%;
		border: solid white 10px;
		box-sizing:content-box;
	}
	a#title{
		display:block;
		color:white;
		font-weight:bold;
		text-align:center;
		position:relative;
		top:22%;
		font-size:28px;
	}
	a.text{
		display:block;
		margin-top:43px;
		margin-left:220px;
		margin-right:50px;
		width:100px;
		color:white;
		text-align:center;
		opacity:0;
		text-decoration:none;
		font-size:14px;
	}
	a#watershed{
		 top:75px; 
		 right: 27%;
	}
	a#groundwater{
		 top:47px; 
		 right: 29%;
	}
	a#gw_text.text{
		 margin-top:60px; 
	}

}
.slice {
	overflow: hidden; 
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
}
.slice#one{
	transform: rotate(0deg) skewY(-18deg);
}
.slice#two{
	transform: rotate(72deg) skewY(-18deg);
}
.slice#three{
	transform: rotate(144deg) skewY(-18deg);
}
.slice#four{
	transform: rotate(216deg) skewY(-18deg);
}
.slice#five{
	transform: rotate(288deg) skewY(-18deg);
}
.slice-contents {
	transform: skewY(18deg) rotate(18deg); 
}

.slice-contents#slice1{
	background: #d2e0e0;
}  
.slice-contents#slice1:hover{
	background: #3f5a5a;
	cursor:pointer;
}  
.slice-contents#slice2{
	background: #b4cbcb;
}  
.slice-contents#slice2:hover{
	background: #3f5a5a;
	cursor:pointer;
}  
.slice-contents#slice3{
	background: #96b6b6;
}  
.slice-contents#slice3:hover{
	background: #3f5a5a;
	cursor:pointer;
}  
.slice-contents#slice4{
	background: #78a1a1;
}  
.slice-contents#slice4:hover{
	background: #3f5a5a;
	cursor:pointer;
}  
.slice-contents#slice5{
	background: #5e8787;
}  
.slice-contents#slice5:hover{
	background: #3f5a5a;
	cursor:pointer;
}  

.slice-contents {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	text-align: center;
	transition: background-color .5s;
}
a.chapter2 {
	color:white;
	font-size:24px;
	font-weight:bold;
	position:absolute;
	top:60px;
	width: 100px;
	right: 41%;
	text-decoration: none;
}

a#title:hover{
	display:block;
	color:white;
	font-weight:bold;
	text-align:center;
	position:relative;
	top:22%;
	text-decoration:none;
}

p3 {
	margin-left:25px;
	display:block;
}
#arrow:hover{
	color:black;
	cursor:pointer;
}
.slice-contents:hover a.text{
	opacity:1;
}
.slice-contents:hover a.chapter{
	opacity:0;
}
