html, body{
   height: 100%;
   margin:0;
}
/*collapse info panel button */
#collapse{
	position: absolute;
    left:320px;
	width:16px;
	height:30px;
	top:50%;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	z-index:500;
	font-size:18px;
	padding:3px 4px 0px 0px;
	border: 0px solid #808080;
	margin:0;
	color:#000000;
	background:rgba(255,255,255,0.6);
	cursor:pointer;
}
#collapse:hover{
	background:rgba(255,255,255,1);
	border: 0px solid #595959;
	color:#cccccc;
}
/* INFO PANEL */
#infoPanel {
	width:300px;
	height:100%;
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	z-index:1000; 
	padding-left:20px;
	padding-right:20px
	padding-top:20px;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	}
div#infoPanel h1 {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size:42px;
	margin-top:15px;
	letter-spacing: 2px;
	width:280px;
	text-align:center;
	font-variant: small-caps;
}
div#infoPanel h1.small{
	padding-left:0;
	padding-bottom:0px;
	font-size: 25px;	
	margin-bottom:5px;
	margin-top:10px;
	text-align:left;
}

div#infoPanel h2{
	font-size:22px;
	line-height:22px;
}
div#infoPanel h2.large{
	display:inline; 
	width:200px; 
	white-space:normal; 
	font-size:30px;
}
div#infoPanel b {
	width: 50px;
    height: 30px;
    line-height:30px;
	display:inline-block;
	opacity:0.8;
}
div#infoPanel b.circle {
    line-height:25px;
	display:inline-block;
	opacity:0.8;
	border-radius:50%;
	vertical-align:middle;
	background:rgba(255,255,255,0);
	border-color:black;
	border-width:0.5px;
	border-style:solid;
	position:relative;
}
div.legendContainer {
	width: 35px;
	height: 35px;
	position:absolute;
}
div#infoPanel p {
	display:inline-block;
	line-height:28px;
	font-size:20px;
	position: absolute;
	margin:0;
	margin-top:3px;
	white-space:nowrap;
	}
div#infoPanel p#description {
	display:inline-block;
	line-height:24px;
	font-size:20px;
	position: relative;
	font-weight:bold;
	margin:0;
	white-space:nowrap;
	text-align:left; 
	white-space:normal; 
	width:280px; 
	display:block; 
	}
div#infoPanel p2 {
	display:inline-block;
	line-height:25px;
	height: 25px;
	margin:0;
	white-space:nowrap;
	}
div#text p3 {
	text-align: justify;
	font-size: 18px;
	line-height:22px;
	}
th, td {
    padding-right: 15px;
}
div#infoPanel img#titleImage {
	width: 280px;
	height: 50px;
	padding-right:20px;
	position:relative;
	bottom:15px;
	display:inline-block;
	}
div#infoPanel img#region  {
	width: 130px;
	height: 125px;;
	position:absolute;
	margin-top:-10px;
	right:10px;
	}	
div#infoPanel img#migration  {
	width: 90px;
	height: 90px;;
	position:absolute;
	margin-top:5px;
	right:50px;
	}
div#infoPanel img#imageHouse {
	width: 150px;
	height: 100px;;
	position:absolute;
	right:10px;
	margin-top:-20px;
	}

div#text p3 {
	text-align: justify;
	font-size: 18px;
	line-height:22px;
	}
#text {
	overflow:hidden;
	text-align: justify;
	position: relative;
	height:100%;	
	}
#attribution{
	margin-right:20px;
	width:280px;
	}

.leaflet-container {
	background-color: #000000;
}
/*dropdown menu large*/
div#buttons p {
	width:135px;
	height:25px;
	font-weight:bold;
	background: rgba(255,255,255,0);
	border-style: solid;
    border-color: rgba(255,255,255,0);
    text-align:center;
    vertical-align:middle;
    margin-left:2px;
    position:relative;
    padding:0;
    margin-top:5px;
    border:0;
}
div#buttons b {
	color:#4d4d4d; 
	float:left; 
	display:inline; 
	padding:0; 
	width:auto; 
	font-size:18px; 
	bottom:2px;
	position:relative;
	font-weight:normal;
	height:25px;
}
div#buttons #arrow {
	color:#e6e6e6; 
	text-align:right; 
	display:inline; 
	padding:0; 
	width:auto; 
	font-size:18px; 
	padding-top:2px;
	right:9px;
	position:absolute;
	margin-top:0px;
}
div#buttons .selection {
	width:135px;
	height:30px;
	background: rgba(242,242,242,0.2);
	border-style: solid;
    border-color: rgba(255,255,255,0);
    margin-bottom:2px;
    margin-left:2px;
   font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
   font-size:14px;
}
div#buttons .selection:hover{
	width:135px;
	background: rgba(242, 242, 242, 1) !important;
	cursor:pointer;

}
.dropbtn {
    background: #fff;
	border-radius:.125em;
	box-shadow: 0 0 4px #999;
    font-size:18px;
    border: none;
    cursor: pointer;
    width:280px;
    border-style: solid;
    border-color: rgba(0,0,0,1);
    border-width:2px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    text-align:left;
    padding:1px 3px 2px 2px;
    color:#4d4d4d;
    height:35px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
   	background: #ffffff;
    width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
     background: rgba(242, 242, 242, 0.67);
     -webkit-box-shadow: 0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	-moz-box-shadow:    0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	box-shadow:         0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	cursor:pointer;
}
/*dropdown menu small*/
div#buttons .selectionSmall {
	width:130px;
	height:30px;
	background: rgba(242,242,242,0.2);
	border-style: solid;
    border-color: rgba(255,255,255,0);
    margin-bottom:2px;
    margin-left:2px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size:14px;
}
div#buttons .selectionSmall:hover {
	width:130px;
	background: rgba(242, 242, 242, 1) !important;
	cursor:pointer;
}
.dropbtnSmall {
    background: #fff;
	border-radius:.125em;
	box-shadow: 0 0 4px #999;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:135px;
    border-style: solid;
    border-color: rgba(0,0,0,1);
    border-width:2px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    text-align:left;
    color:#4d4d4d;
    height:32px;
}

/* The container <div> - needed to position the dropdown content */
.dropdownSmall {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentSmall {
    display: none;
    position: absolute;
   background: #ffffff;
    width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Show the dropdown menu on hover */
.dropdownSmall:hover .dropdown-contentSmall {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownSmall:hover .dropbtnSmall {
     background: rgba(242, 242, 242, 0.67);
     -webkit-box-shadow: 0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	-moz-box-shadow:    0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	box-shadow:         0px 0px 10px 0px rgba(191, 191, 191, 0.67);
	cursor:pointer;
}
/*map tooltip and info panel styles*/
div.info.leaflet-control {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	font-size:16px;
	box-shadow: 2px 2px 3px #888888;
}
.label{
	opacity:0;
	background-color:rgba(255,255,255,0);
	
}

.label_tooltip {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size:16px;
	padding:5px;
	margin:0px;
	border:1px solid black;
	background:#ffffff;
}
.leaflet-tooltip-top.label_tooltip::before {
 	display:none;
}
canvas.leaflet-zoom-animated{
	background:rgba(0,0,0,0);
	pointer-events:none; 
}

/* The slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top:10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
  float:center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*bottom div*/
div#pageChange{
	height:40px;
	width:300px;
	margin-left:20px;
	margin-right:20px;
	position:absolute;
	bottom:0;
	left:0;
}
a#arrow{
	color:black;
	font-size:28px;
	position:relative;
} 
#arrow:hover{
	color:white;
}
/*source popup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:1000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-weight:normal;
}

hr{
	border:1px solid #e6e6e6;
	border-bottom-width:0px;
}

.popup .close {
  top:15px;
  right:20px;
  position: absolute;
  transition: all 200ms;
  font-size: 20px;
  text-decoration: none;
  color: #d9d9d9;
  text-align:right;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
.popup .close:hover {
  color: #b3b3b3;
}
.popup .close2 {
  	background-color: white; 
	transition: all 200ms;
    border: 1px solid #d9d9d9;
    border-radius:5px;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    float:right;
}
.popup .close2:hover {
  	background-color: #f2f2f2; 
	cursor:pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup div.source{
	padding-bottom:15px;
}	
.popup div.source a{
	color:rgb(52,123,181);
	text-decoration:none;
}
.popup div.source a:hover{
	color:#004466;
	text-decoration:underline;
}	
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


